@media only screen and (min-width: 800px) {
    .button {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

.button {
    cursor: pointer;
    min-height: 70px;
    width: 90%;
    border-radius: 3px;
    margin: 10px 0;
    box-shadow: 0 2px 5px 0 #666;
    text-decoration: none;
    border: none;
    transition: 1s;
}

.man {
    background: linear-gradient(200deg, #2980b9 1%, rgba(255, 255, 255, .1) 20%);
}
.man:hover {
    background-color: #2980b9;
}

.woman {
    background: linear-gradient(200deg, #f1c40f 1%, rgba(255, 255, 255, .1) 20%);
}
.woman:hover {
    background-color: #f1c40f;
}

.button:hover {
    box-shadow: 0 4px 7px 0 #666;
}

.name {
    font-size: 1.4em;
}

.pob {
    /* font-size: .8em; */
}
.contactNumber {

}

.personalInfo span {
    margin: 5px 5px;
}