@media only screen and (min-width: 800px) {
    .button {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

.button {
    cursor: pointer;
    /* padding: 5px; */
    min-height: 70px;
    width: 90%;
    border-radius: 3px;
    margin: 10px 0;
    box-shadow: 0 2px 5px 0 #666;
    text-decoration: none;
    border: none;
    color: #fff;
}
.man {
    background-color: #2980b9;
}
.woman {
    background-color: #f1c40f;
}

.button:hover {
    box-shadow: 0 4px 7px 0 #666;
}

.name {
    font-size: 1.4em;
}

.pob {
    /* font-size: .8em; */
}
.contactNumber {

}

.personalInfo span {
    margin: 5px 5px;
}