
@media only screen and (max-width: 800px) {

}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 48%;
    max-width: 48%;
    height: 200px;
    margin: 2px;
    font-size: 1.6em;
    box-shadow: 0 2px 5px 0 #666;
    border-radius: 2px;
    cursor: pointer;
    transition: .2s;
}
.card:hover {
    box-shadow: 0 5px 6px 0 #666;
}

.cardDescription {
    text-align: center;
}


.image {
    height: 100px;
    width: 100px;
}